.prodcarrito {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.fincarrito {
    display: flex;
    flex-direction: column;
}

.Boton {
    border-radius: 8px;
    border: 1px solid;
    padding: 15px;
    height: 50px;
    font-size: 1em;
    font-weight: 500;
    background-color: #c7edf0;
    cursor: pointer;
}